p {
  margin: unset;
}

.main-page {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.name-menu {
  text-align: center;
  padding-top: 20px;
}

.menu-pro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px 0;
  gap: 20px;
}

.item-pro {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  background-color: #ffff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.item-pro a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.wrap-img {
  width: 100%;
}

.wrap-img img {
  width: 100%;
  object-fit: contain;
}

.info {
  padding: 10px;
}

.name-pro,
.price-pro {
  font-weight: 600;
  font-size: 20px;
}

/* line 304, home.scss */
.info-service-web {
  width: 100%;
  background-color: #fff;
}
/* line 307, home.scss */
.info-service-web .container-info-service {
  width: inherit;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
/* line 313, home.scss */
.info-service-web .container-info-service .about-web .content {
  font-style: italic;
}
/* line 315, home.scss */
.info-service-web .container-info-service .about-web .content h5 {
  font-size: 16px;
}
/* line 319, home.scss */
.info-service-web .container-info-service .about-web .content p a {
  display: inline-block;
}
/* line 328, home.scss */
.info-service-web .container-info-service .contact-web .content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}
/* line 332, home.scss */
.info-service-web .container-info-service .contact-web .content .fa {
  padding: unset;
  line-height: 50px;
  height: 50px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* line 342, home.scss */
.info-service-web .container-info-service .contact-web .content .fa:hover {
  opacity: 0.7;
}
/* line 346, home.scss */
.info-service-web .container-info-service .contact-web .content .fa-facebook {
  background: #3b5998;
  color: white;
}
/* line 351, home.scss */
.info-service-web .container-info-service .contact-web .content .fa-twitter {
  background: #55acee;
  color: white;
}
/* line 356, home.scss */
.info-service-web .container-info-service .contact-web .content .logo-shopee {
  width: 50px;
  color: white;
  padding: unset;
}
.info-service-web
  .container-info-service
  .contact-web
  .content
  .logo-shopee
  img {
  width: 100%;
  
}
/* line 361, home.scss */
.info-service-web .container-info-service .contact-web .content .fa-linkedin {
  background: #007bb5;
  color: white;
}
/* line 366, home.scss */
.info-service-web .container-info-service .contact-web .content .fa-youtube {
  background: #bb0000;
  color: white;
}
/* line 370, home.scss */
.info-service-web .container-info-service .contact-web .content .fa-instagram {
  background: #125688;
  color: white;
}

/* line 379, home.scss */
.content a {
  display: block;
  padding: 5px;
  color: #2f8dd2;
}

/* line 385, home.scss */
.title-service {
  padding: 10px 0px;
}
/* line 387, home.scss */
.title-service h4 {
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #495057;
}

/* line 394, home.scss */
.container-footer {
  border-top: 3px solid #30698c;
  width: 100%;
  background-color: unset;
  padding: 30px;
}
/* line 399, home.scss */
.container-footer p {
  text-align: center;
  font-size: 15px;
  color: #596672;
  font-weight: 500;
}
/* line 404, home.scss */
.container-footer p span {
  color: #e83030;
  font-weight: 550;
}

.set-size{
  width: 50px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #bb0000;
}

.set-size:hover,
.logo-shopee:hover{
  text-decoration: unset;
  opacity: 0.7;
}

.set-icon{
  font-size: 24px;
  color: #fff;
}
